<template>
	<q-page class="flex flex-center">
		<div class="row">
			<div class="col-2"/>
			<div class="col-8">
				<h6 class="paragraph">
    
					Hi! My name is Colin, and I am a sophomore at the University of Chicago. I am currently seeking internship and research opportunities in computer science and related fields. Some of my particular interests currently include data science, building for scale, serverless technology, and anything that involves improving people’s lives and businesses via technology! Additionally, I am also available for short to mid-term full-stack web development contracts.
					<br/> <br/>
					To learn about my experiences, especially those relevant to computer science, please take a look at my resume <a href="/resume.pdf">here</a>.
					<br/> <br/>
					
					<q-parallax :height="400" :speed="0.5">
  					<img slot="media" src="../assets/traffic.jpeg">
					</q-parallax>
					<br/> <br/>	
					If you’ve stuck with me this far, here’s a little about me:
					<br/> <br/>	
					In looking for colleges, I was searching for a place that would push me to grow not only my technical skills but also my character and cultural knowledge. The University of Chicago was the perfect fit. Here I have been able to grow my technical knowledge of topics such as data structures, algorithms, and cache optimization simultaneous to reading Dante, sequencing DNA, and considering policy solutions to negative externalities. 
					<br/> <br/>	
					Some of my long-term goals include: I want be a member of great team that is leveraging technology to provide massive value. My life has long been one of diversity—I want it to continue like this. Finally, I want to never forget the core driver behind all business: Enriching others’ lives.
				</h6>
			</div>
			<div class="col-2"/>
		</div>
	</q-page>
</template>

<script>
export default {
  name: 'PageAbout',
}
</script>

<style lang="stylus">
.paragraph
	letter-spacing 2px
	line-height 2
	font-size 14px
	font-weight normal
</style>
