<template>
	<q-page class="flex flex-center">
		<div class="row self-center justify-center">
				
				<div class="bold self-center col-12">
					For business inquiries, please reach out at <a href="mailto:cflaherty@uchicago.edu">cflaherty@uchicago.edu</a>.
				</div>


				<div class="bold  self-center col-12">
					You can also find me on Github <a href="https://github.com/c-flaherty">here</a> and LinkedIn <a href="https://www.linkedin.com/in/flahertycolin/">here</a>.
				</div>

				<div class="bold  self-center col-12">
					The source code for this website may be found <a href="https://github.com/c-flaherty/personal_website">here</a>.
				</div>

		</div>
  </q-page>
</template>

<script>
export default {
  name: 'ContactMe',
}
</script>

<style lang="stylus">
.bold
	letter-spacing 2px
	line-height 2
	font-size 16px
	font-weight normal
	text-align center
</style>
