<template>
	<q-page class="flex flex-center page">	

		<div class="row justify-center">

		<router-link to="/about" class="self-center"><img id="me" class="col animate-bounce self-center" alt="Picture of Me" src="../assets/me_fx.png"></router-link>

		<transition
  	appear
  	enter-active-class="animated fadeInRight"
		>

		<q-card id="details" class="col-xs-auto col-md-6 self-center" flat>
			<q-card-main>
							<h4 class="banner">
								<span class="word">thinker</span>, <br/>
								<span class="word">entrepreneur</span>, <br/>
								<span class="word">contract software developer</span>, <br/>
								<span class="word">computer science major</span>, <br/>
								<span class="word">Dougan Scholar</span>
							</h4>
			</q-card-main>
    </q-card>

		</transition>

		</div>

  </q-page>	
</template>

<style scoped lang="stylus">
@import '~variables'


#me
	width 300px
	height 300px
.banner
	font-weight regular
	font-variant normal
	font-family Baskerville
	font-size 32px
	line-height 1.5
.row
	padding 1%

@media (min-width: 768px)
	.row
		border-style solid
		border-width 5px
		border-color black
		background-color white
		border-radius 80px
		&:hover
				transition background-color 000ms linear
				transition color 1000ms linear
				background-color black
				color white

</style>

<script>
export default {
  name: 'PageHome',
}

</script>
