<template>
	<q-page padding class="row items-start">
    <p>This page will contain info on what I'm reading</p>
  </q-page>
</template>

<script>
export default {
  name: 'WhatImReading',
}
</script>
