<template>
  <q-tabs
    color="title"
    :inverted="$q.theme === 'ios'"
    :style="$q.theme === 'ios' ? { background: 'rgba(255,255,255,0.95' } : null"
		class="q-py-sm"
		animated swipeable
		align="center"
  >
    <q-route-tab slot="title" to="/about" replace label="About" />
    <q-route-tab slot="title" icon="email" to="/contact" replace label="Contact Me" />
  </q-tabs>
</template>

<script>
export default {
  name: 'nav-tabs',
}
</script>

