<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header :reveal="true" v-model="isNotLandingPage">
      <q-toolbar
        color="tertiary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
					<q-toolbar-title class="q-py-md title">
          Colin Flaherty
					<div slot="subtitle" class="q-pt-sm subtitle"> 
						<router-link to="/about" tag="span" class="link" active-class="active-class">About</router-link>
						/ 
						<router-link to="/contact" tag="span" class="link" active-class="active-class">Contact</router-link> 
					</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-page-container>

			<transition
				enter-active-class="animated fadeIn"
  			leave-active-class="animated fadeOut"
				mode="out-in"
				duration="500">
      	<router-view/>
			</transition>
    </q-page-container>

  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import navTabs from '../components/tabs'

export default {
  name: 'LayoutDefault',
  components: {
    'nav-tabs': navTabs,
  },
	computed: {
		isNotLandingPage: function () {
			return  this.$route.path !== '/'
		}						
	},
  methods: {
    openURL,
  },
}
</script>


<style lang="stylus">
.title
	font-family "Big Caslon"
	font-size 32px !important
	font-weight normal !important
	color black
.subtitle
	font "Bodoni 72 Oldstyle"
	font-size 16px !important
	font-weight normal !important
	color #666666
.link
	&:hover
		color black
		cursor pointer
.active-class
	color black
</style>
